.attractions-page {
  display: grid;
  justify-items: center;
  height: calc(1344px + 10em);
  background-color: #ece6d7;
}

.attractions-page .info-card {
  background-color: #edb970;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  height: 25em;
  width: 55em;
  border-radius: 2em / 5em;
  margin-top: 3em;
}

.attractions-page .info-card img {
  width: 21em;
  grid-column: 2 / 4;
  grid-row: 2 / 9;
}

.attractions-page .info-card h2 {
  font-size: x-large;
  grid-column: 5 / 8;
  grid-row: 2 / 3;
}

.attractions-page .info-card p {
  font-size: large;
  grid-column: 5 / 8;
  grid-row: 3 / 6;
}