.attractions-page {
  display: grid;
  justify-items: center;
  background-color: #ece6d7;
}

.attractions-page .info-card {
  background-color: #edb970;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 1fr);
  height: 25em;
  width: 55em;
  border-radius: 5em;
  margin: 3em;
}

.attractions-page .info-card img {
  object-fit: contain;
  height: 20em;
  width: 20em;
  grid-column: 2 / 4;
  grid-row: 2 / 4;
}

.attractions-page .info-card h2 {
  grid-column: 5 / 8;
  grid-row: 1 / 2;
}

.attractions-page .info-card p {
  grid-column: 5 / 8;
  grid-row: 3 / 6;
}