.history-page {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-content: space-between;
  height: calc(100vh - 76px);
  background-color: #ece6d7;
}

.history-page .info-card {
  background-color: #edb970;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  place-items: center;
  height: 25em;
  width: 20em;
  margin: 3em;
  border-radius: 2em / 5em;
  padding: 1em;
}

.history-page .info-card img {
  object-fit: contain;
  height: 10em;
  grid-row: 1 / 4;
}

.history-page .info-card h2 {
  font-size: x-large;
  grid-row: 4 / 5;
}

.history-page .info-card p {
  font-size: large;
  grid-row: 5 / 7;
}