.visit-page {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  align-content: stretch;
}

.visit-page .info-card {
  background-color: plum;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  place-items: center;
  height: 35em;
  width: 30em;
  margin: 3em;
  border-radius: 2em;
  padding: 1em;
}

.visit-page .info-card img {
  object-fit: contain;
  height: 10em;
  width: 10em;
  grid-row: 2 / 4;
}

.visit-page .info-card h2 {
  grid-row: 1 / 2;
}

.visit-page .info-card p {
  grid-row: 4 / 5;
}