* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 15px 5px;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  text-decoration: none;
  padding: 14px 16px;
  text-align: center;
}